body {
	margin-top: 50px;
}
nav {
    height: 20px;
}
header {
	margin: 80px 10px 20px 10px;
	background-image: url(../images/world-map.jpg);
	height: 200px;
	border-radius: 20px;
}
header h1 {
color: #fff;
	font-size: 100px;
	text-align: center;
}
#map-result {
	height: 400px; 
	width: 100%;"
}

.moving {
	float: right;
}