body {
	margin-top: 50px;
	background-image: url(../images/grey-background.jpg);
}

nav {
    height: 20px;
}

header {
	margin: 80px 10px 20px 10px;
	background-image: url(../images/world-map.jpg);
	height: 200px;
	border-radius: 20px;
}

header h1 {
color: #fff;
	font-size: 100px;
	text-align: center;
}

#map-result {
	height: 400px; 
	width: 100%;"
}

.moving {
	float: right;
}

.top-box-height {
	height: 230px;
}


.search-box-height {
	height: 150px;
}

.link h3{
	color: #fff;
	text-align: center;
	background-color: #0077b3;
	border-radius: 5px;
}

.image {
	width: 100%;
	margin: auto;
	border-radius: 20px;
}

#recent-search-panel {
	max-height: 188px;
	overflow-y: scroll;
}

#results-table tr:nth-child(8) {
	font-weight: bold;
	color: red;
}

#results-table tr:nth-child(13) {
	font-weight: bold;
	color: green;
}

#results-table tr:nth-child(15) {
	font-weight: bold;
	font-size: 16px;
	background-color: #ddd;
}

#results-table tr:nth-child(10) {
	border-bottom-style: solid 2px black;
}